:root {
  --dark-bg: #1f2937;
  --text-light: #f9faf8;
  --text-light-secondary: #e5e7eb;
  --text-dark: #1f2937;
  --blue: #3882f6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  /* max-width: 1200px; */
}

.flex {
  display: flex;
}

/* Header */
.header {
  width: 100%;
  color: var(--text-light);
  background-color: var(--dark-bg);
}

.header__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  font-size: 24px;
}

.header__nav {
  gap: 25px;
  font-size: 18px;
  color: var(--text-light-secondary);
}

/* Hero */
.hero {
  width: 100%;
  background-color: var(--dark-bg);
}

.hero__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__left,
.hero__right {
  width: 50%;
}

.hero__title {
  margin-bottom: 15px;
  max-width: 500px;
  font-size: 48px;
  color: var(--text-light);
}

.hero__descr {
  margin-bottom: 50px;
  max-width: 450px;
  font-size: 18px;
  color: var(--text-light-secondary);
}

.hero__btn {
  color: var(--text-light);
  background: var(--blue);
}

.hero__right img {
  height: 100%;
  width: 100%;
}

/* Info */
.info__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.info__title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 36px;
  color: var(--text-dark);
}

.info__list {
  gap: 20px;
}

.info__card {
  width: 23%;
}

.info__img {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 5px solid var(--blue);
  border-radius: 15px;
}

.info__card-title {
  margin-bottom: 15px;
  text-align: center;
  color: var(--text-dark);
}

.info__card-descr {
  padding: 10px;
  color: var(--text-dark);
}